body{
    background-image: url(lol3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding:50px;
}
.container{
    
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-group{
    margin-bottom:30px;
}
